<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Youtube Comments Scrapper</title>
    
    <style>
        body{
            background-image:url("{{url_for('static',filename='image.png')}}");
            background-size: 100%;
        }
    </style>
</head>
<body>
    <br><br>
    <div class="container-fluid">
    <center><h1 class="display-3">YOUTUBE COMMENTS SCRAPPER</h1></center>
    <br><br>
    <form action="{{ url_for('predict') }}" method="POST" name="yt">
        <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <br>  
            <center><label for="url"><h2>ENTER THE URL OF THE YOUTUBE VIDEO</h2></label></center>
            
            <div class="container">
            <input class="form-control" type="text" name = 'input-url' placeholder="Example: https://www.youtube.com/" >
            <br>       
            <center><input type="image" id="img_submit" src="{{url_for('static',filename='SUBMIT.png')}}" style=" width:25%; height:25%;" name="Submit" alt=""></center>
            </div>
        </div>  
        <div class="col"></div>
    </div>
    </div> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
</body>
</html>